@import '../components/breadcrumb/index.css';

.bc-article {
  & .article-title {
    margin-bottom: 0.1em;
  }

  & .article-header {
    margin-bottom: 1.25em;
  }

  & .metadata {
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 0.8em;
  }

  & .metadata a {
    color: var(--accent-foreground);
  }

  & .author-info {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  & .author-info img {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50%;
    padding: 4px;
  }

  & .date-time {
    font-family: var(--system-mono);
  }

  & .blog-footer {
    color: var(--accent-foreground);
  }
}
