# Basic dependabot.yml file with
# minimum configuration for two package managers

version: 2
updates:
  # Root
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/" # Covers all workspaces
    schedule:
      interval: "daily"
  # Worker
  - package-ecosystem: "docker"
    directory: "/packages/worker"
    schedule:
      interval: "daily"
  # Server
  - package-ecosystem: "docker"
    directory: "/packages/web"
    schedule:
      interval: "daily"
