@import './auth-token-edit.css';
@import './auth-token-manage-create.css';

.auth-token-manage {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--accent-background);
}

.bc-token-create-copy-line {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bc-token-create-copy-line a {
  display: flex;
  align-items: center;
}

.bc-token-create-copy-line .bc-token-create-copy-line-select {
  flex-grow: 1;
}

.bc-feed-header-help-text {
  margin-top: 0.5em;
  margin-bottom: 10px;
}

.button-gap {
  display: inline-flex;
  gap: 0.4em;
}
