.bc-login input {
  width: 100%;
}

.bc-login .bc-help-text {
  display: block;
  margin-top: 0.2em;
  font-size: 0.8em;
  font-weight: normal;
  color: var(--accent-foreground);
}

.bc-login-password-reset-link {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  margin-top: 1em;
}

.bc-login-password-reset-link a {
  color: var(--accent-foreground);
}
