.bc-badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 50px;
  position: absolute;
  font-weight: 600;
}

.bc-badge a {
  color: white;
}
