@import '../toread';
@import '../star';
@import '../sensitive';
@import '../episode-title';
@import '../archive-title';
@import '../expand-text';

.bc-bookmark-view {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--accent-background);
}

.bc-bookmark-title-toread {
  font-weight: bold;
}

.bc-bookmark-title,
.bc-bookmark-note-display,
.bc-bookmark-summary-display {
  word-break: break-word;
}

.bc-bookmark-note-display p:last-child,
.bc-bookmark-summary-display p:last-child {
  margin-bottom: 0px;
}


.bc-bookmark-summary-display {
  color: var(--bc-summary-accent);
  font-style: italic;
  margin-bottom: 0px;
}

.bc-bookmark-url-display {

  margin-top: -0.5em;
  margin-bottom: 5px;
}

.bc-bookmark-archive-url-display,
.bc-bookmark-url-display {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Don't need 2nd lines for archive links */
.bc-bookmark-archive-url-display {
  line-clamp: 1;
}

.bc-tags-display,
.bc-date,
.bc-bookmark-url-display,
.bc-bookmark-archive-url-display,
.bc-bookmark-entity-enumeration {
  font-size: 0.8em;
}

.bc-date a,
.bc-bookmark-url-display a,
.bc-bookmark-entity-enumeration a {
  color: var(--accent-foreground);
}

.bc-bookmark-archive-url-display a {
  color: var(--bc-archive-color);
}

.bc-tags-display {
  display: inline-flex;
  gap: 5px;
  flex-wrap: wrap;
}

.bc-tags-display a {
  color:  var(--bc-tags-color);
}

.bc-bookmark-entity-enumeration {
  display: flex;
  gap: 0.3em;
}

.bc-archive-entity a {
  color: var(--bc-archives-color);
}

.bc-episode-entity a {
  color: var(--bc-episodes-color);
}
