/* header/index.css  */
@import '../star/index.css';
@import '../toread/index.css';
@import '../sensitive/index.css';

.bc-header-nav {
  display: flex;
  justify-content: space-between;
  font-size: var(--small-font-size);
  border-bottom: dotted 1px var(--accent-midground);
  padding-left: max(var(--body-padding), env(safe-area-inset-left));
  padding-right: max(var(--body-padding), env(safe-area-inset-right));
  padding-top: max(var(--body-padding), env(safe-area-inset-top));
  padding-bottom: var(--body-padding);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  scrollbar-width: none;
}

.bc-header-nav::-webkit-scrollbar {
    display: none;
}

.bc-logo {
  font-size: calc(var(--font-size-body) + var(--font-size-scale));
}

.bc-header-start,.bc-header-end {
  display: flex;
  gap: 0.2em;
}

.bc-header-start {
  align-items: baseline;
  overflow: hidden;
  min-width: 50px;
}

.bc-header-start a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.bc-header-end {
  align-items: center;
}

.bc-header-email-warning {
  display: inline-flex;
  width: 100%;
  height: 100%;
  font-size: var(--small-font-size);
  justify-content: center;
  background-color: var(--mark-background);
}

.bc-header-email-warning a {
  color: var(--text);
}

.bc-header-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}

@media (max-width: 300px) {
  .bc-header-link-text {
    display: none;
  }
}

.bc-decoration-none:hover {
  text-decoration: none;
}
