/* document.css */

:root {
  --body-padding: 2px;
  --small-font-size: 13px;

  --bc-tags-color: hsla(24, 50%, 55%, 1);
}

/* style.css site specific stuff */
.serif {
  font-family: var(--system-serif);
}
.sans {
  font-family: var(--system-sans);
}
.round {
  font-family: var(--system-round);
}

.bc-page-container {
  & textarea,
  & input[type="date"],
  & input[type="datetime-local"],
  & input[type="email"],
  & input[type="month"],
  & input[type="number"],
  & input[type="password"],
  & input[type="search"],
  & input[type="tel"],
  & input[type="text"],
  & input[type="time"],
  & input[type="url"],
  & input[type="week"] {
    font-size: calc(12px + var(--font-size-scale));
  }
}

.bc-page-container {
  /* https://dev-tips.com/css/overlapping-bottom-navigation-bar-despite-100vh-in-ios-safari */
  min-height: 100vh; /* Fallback */
  min-height: 100dvh;
  /* min-height: fill-available; */
  /* min-height: stretch; /* Latest specification */
  display: flex;
  flex-direction: column;
}

@supports not (min-height: 100dvh) {
  _::-webkit-full-page-media,
  _:future,
  :root .bc-page-container {
    /* Safari min height hack  */
    min-height: -webkit-fill-available;
  }
}

.bc-header {
}

.bc-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 46em;
  margin: 0 auto;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  /* word-wrap: break-word; */
}

/* .bc-main > *:first-child { margin-top: 0 !important; } */
.bc-main > *:last-child {
  margin-bottom: 0 !important;
}
