/* episode-title.css */

.bc-archives-title-container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bc-archives-title-container a {
  color: var(--bc-archives-color);
}

.bc-archives-title-container-small {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  font-size: 0.8em;
}

.bc-archives-excerpt {
  color: var(--bc-archives-accent);
  font-style: italic;
  margin-bottom: 0px;
}

.bc-archives-big-title {
  margin: 0px;
}
