/* account/style.css */
@import "./auth-tokens/auth-token-field.css";
@import "./passkeys/passkeys-field.css";

.bc-account-password-edit-submit-line .button-cluster,
.bc-account-username-edit .button-cluster,
.bc-account-email-edit-submit-line .button-cluster,
.reset-buttons-state,
.button-gap,
.email-view-edit-line {
  display: inline-flex;
  gap: 0.4em;
}

.password-view,
.username-view {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.4em;
}

.bc-account-username-edit input.block,
.bc-account-password-edit input.block,
.bc-account-email-edit input.block {
  width: 100%;
  box-sizing: border-box;
}

.email-view-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.newsletter-label {
  margin-right: 0.5em;
}
