.bc-bookmark-edit {
  & input[type="date"],
  & input[type="datetime-local"],
  & input[type="email"],
  & input[type="month"],
  & input[type="number"],
  & input[type="password"],
  & input[type="search"],
  & input[type="tel"],
  & input[type="text"],
  & input[type="time"],
  & input[type="url"],
  & input[type="week"] {
    width: 100%;
  }
}

.bc-bookmark-note {
  display: block;
  width: 100%;
  resize: vertical;
}

.bc-bookmark-legend {
  font-size: var(--small-font-size);
}

.bc-bookmark-archive-url-edit,
.bc-bookmark-edit-create-episode-url,
.bc-bookmark-url-edit {
  font-family: var(--font-code);
}

.bc-bookmark-edit-submit-line {
  display: flex;
  justify-content: space-between;
}

.bc-bookmark-edit-create-episode-details,
.bc-bookmark-archive-url-edit-details {
  /* hack. Don't know why details parent padding isn't passing to the child */
  padding-inline-end: 0.9rem;
}

.bc-bookmark-edit-create-episode-url,
.bc-bookmark-archive-url-edit {
  margin-bottom: 0.5em;
}
