@import "../components/feed-header/feed-header.css";
@import "../components/episode/episode-list.css";
@import "../components/search/index.css";
@import "../components/pagination-buttons/index.css";

.bc-episodes-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  gap: 0.8em;
}

.bc-episodes-results {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  flex-grow: 1;
}

.bc-episodes-results-empty {
  justify-content: center;
  align-items: center;
}

.bc-episodes-empty {
  color: var(--accent-foreground);
  opacity: 0.7;
  padding: 0.5em 0;
  text-align: center;
}

.bc-episodes-pagination-bottom {
  margin-top: auto;
}
