.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6em;
  width: 100%;
}

.pagination-buttons-nav {
  display: inline-flex;
  gap: 0.3em;
  align-items: center;
}

.pagination-button {
  display: inline-flex;
  align-items: center;
}

.pagination-buttons-date {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.pagination-button-disabled {
  opacity: 0.45;
  cursor: not-allowed;
}
.pagination-buttons input.pagination-date-picker {
  font-size: 0.75rem;
  width: auto;
  field-sizing: content;
}
