@import "../components/bookmark/bookmark-list.css";
@import "../components/bookmark/bookmark-quick-add.css";
@import "../components/search/index.css";
@import "../components/pagination-buttons/index.css";

.bc-bookmarks-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.6em;
}

.bc-tag-filter-remove {
  color: var(--bc-tags-color);
}

.bc-tag-filter-remove a {
  color: hsla(360, 100%, 50%, 0.5);
  text-decoration: none;
}

.bc-tag-filter-remove a:hover {
  color: red;
}
