.bc-register input[type="email"],
.bc-register input[type="text"],
.bc-register input[type="submit"],
.bc-register input[type="password"] {
  width: 100%;
}

.bc-register .bc-help-text {
  display: block;
  margin-top: 0.2em;
  font-size: 0.8em;
  font-weight: normal;
  color: var(--accent-foreground);
}

.bc-register .checkbox-label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.bc-register-terms {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  margin-top: 1em;
  color: var(--accent-foreground);
}
