name: flyctl deploy

on:
  workflow_dispatch:
    inputs:
      deploy-web:
        type: boolean
        description: 'Deploy web service'
        default: true
      deploy-worker:
        type: boolean
        description: 'Deploy worker service'
        default: true

env:
  node_version: 22
  redis-version: 7
  FORCE_COLOR: 1
  NPM_CONFIG_COLOR: always

concurrency:
  group: flyctl-deploy
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ env.node_version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.node_version }}
        registry-url: 'https://registry.npmjs.org'
    - name: Start Redis
      uses: supercharge/redis-github-action@1.8.0
      with:
        redis-version: ${{ env.redis-version }}
    - uses: superfly/flyctl-actions/setup-flyctl@master
    - run: npm i
    - name: Archive lockfile
      uses: actions/upload-artifact@v4
      with:
        name: package-lock.json
        path: package-lock.json
    - run: npm run generate-default-env --workspaces --if-present
    - run: npm test
    - name: Deploy web
      run: npm run deploy:web
      if: ${{ github.event.inputs.deploy-web == 'true' }}
      env:
        FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    - name: Deploy worker
      run: npm run deploy:worker
      if: ${{ github.event.inputs.deploy-worker == 'true' }}
      env:
        FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
