name: flyctl deploy

on:
  workflow_dispatch:
    inputs:
      deploy-web:
        type: boolean
        description: "Deploy web service"
        default: true
      deploy-worker:
        type: boolean
        description: "Deploy worker service"
        default: true

env:
  FORCE_COLOR: 1
  DATABASE_URL: postgres://postgres:postgres@localhost:5432/breadcrum

concurrency:
  group: flyctl-deploy
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: breadcrum
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis:7
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: pnpm install --frozen-lockfile
      - name: Archive lockfile
        uses: actions/upload-artifact@v6
        with:
          name: pnpm-lock.yaml
          path: pnpm-lock.yaml
      - run: pnpm run -r generate-default-env
      - run: pnpm run -r migrate
        env:
          PGDATABASE: breadcrum
          PGHOST: localhost
          PGPASSWORD: postgres
          PGPORT: 5432
          PGUSER: postgres
      - run: pnpm test
      - name: Deploy web
        run: pnpm run deploy:web
        if: ${{ github.event.inputs.deploy-web == 'true' }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      - name: Deploy worker
        run: pnpm run deploy:worker
        if: ${{ github.event.inputs.deploy-worker == 'true' }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
