/* document.css */

:root {
  --body-padding: 2px;
  --small-font-size: 13px;

  --bc-tags-color: hsla(24, 50%, 55%, 1);
}

/* style.css site specific stuff */
.serif { font-family: var(--system-serif); }
.sans { font-family: var(--system-sans); }
.round { font-family: var(--system-round); }

.bc-page-container {
  & textarea,
  & input[type="date"],
  & input[type="datetime-local"],
  & input[type="email"],
  & input[type="month"],
  & input[type="number"],
  & input[type="password"],
  & input[type="search"],
  & input[type="tel"],
  & input[type="text"],
  & input[type="time"],
  & input[type="url"],
  & input[type="week"] {
    font-size: calc(12px + var(--font-size-scale));
  }
}

.bc-page-container {
  /* https://dev-tips.com/css/overlapping-bottom-navigation-bar-despite-100vh-in-ios-safari */
  min-height: 100vh; /* Fallback */
  min-height: 100dvh;
  /* min-height: fill-available; */
  /* min-height: stretch; /* Latest specification */
  display: flex;
  flex-direction: column;
}

@supports not (min-height: 100dvh) {
  _::-webkit-full-page-media, _:future, :root .bc-page-container {
    /* Safari min height hack  */
    min-height: -webkit-fill-available;
  }
}

.bc-header {

}

.bc-main {
  flex-grow: 1;
  width: 100%;
  max-width: 46em;
  margin: 2em auto;
  padding: 0 1em;
  overflow: hidden;
  /* word-wrap: break-word; */
}

.bc-main > *:first-child { margin-top: 0 !important; }
.bc-main > *:last-child { margin-bottom: 0 !important; }

.bc-footer {
  padding-top: var(--body-padding);
  padding-bottom: max(var(--body-padding), env(safe-area-inset-bottom));
  padding-left: max(var(--body-padding), env(safe-area-inset-left));
  padding-right: max(var(--body-padding), env(safe-area-inset-right));
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: var(--small-font-size);
  border-top: dotted 1px var(--accent-midground);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  scrollbar-width: none;
}

.bc-footer::-webkit-scrollbar {
    display: none;
}


/* fairly arbitrary. Just make sure the content justification */
@media screen and (max-width: 500px) {
  .bc-footer {
    justify-content: start;
  }
}
