@import 'mine.css/dist/mine.css';
@import 'highlight.js/styles/github-dark-dimmed.css';
@import 'fragmentions/fragmention.css';
@import './document.css';
@import './components/header';
@import './components/footer';

:root {
  --bc-episodes-color: hsla(87, 74%, 44%, 0.9);
  --bc-archives-color: hsla(360, 100%, 61.5%, 0.9);
  --bc-summary-accent: hsla(31, 15%, 48%, 1);
  --bc-feeds-color: hsla(28, 86%, 58%, 0.9);
  --bc-archive-color: hsla(355, 60%, 70%, 1);
}

.block {
  display: block;
}

.bc-help-text {
  color: var(--accent-foreground);
  font-size: 0.8em;
}

.rounded-icon {
  border-radius: 3px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

.preserve-icon {
  min-width: 14px;
}
